.yp-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 9px 15px;
}
svg[class^="yp-header__icon--"] {
  width: 19px;
  height: 19px;
  fill: #222;
  background-color: white;
}
svg[class^="yp-header__icon--"]:hover,
svg[class^="yp-header__icon--"]:active,
svg[class^="yp-header__icon--"]:focus {
  fill: #00b2c8;
  background-color: white;
}
.yp-header__icon--close {
  display: none;
}
.yp-header__logo--black {
  display: block;
  width: 93px;
  height: 34px;
}
.yp-header__logo--white {
  display: none;
}
.yp-header__nav {
  display: none;
  list-style-type: none;
}
/* many of the search dropdown items are applicable for
 both the mobile experience and the desktop experience */
.station-header-search .dropdown-menu {
  display: none;
  position: absolute;
  list-style-type: none;
  border: 0;
  border-radius: 0;
}
.search-open .station-header-search .dropdown-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-open .station-header-search-form {
  position: relative;
  width: 300px;
  margin: 0 auto;
}
.search-open .station-header-search-form input {
  width: 100%;
  padding: 4px 50px 4px 6px;
  height: 45px;
  color: #222;
  box-sizing: border-box;
  border-radius: 0;
  border: 1px solid #b3b3b3;
  margin-bottom: 0;
  font-size: 14px;
  box-shadow: none;
  outline: none;
  font-family: "Open Sans", sans-serif;
}
.search-open .station-header-search-form input:focus {
  border-color: rgba(0,178,200,0.8);
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(82,168,236,0.6);
}
.search-open .station-header-search-form button {
  position: absolute;
  display: flex;
  justify-content: center;
  cursor: pointer;
  height: 45px;
  line-height: 45px;
  font-size: 15px;
  width: 45px;
  text-align: center;
  right: 0;
  border: none;
  background: transparent;
  font-size: 1.6rem;
  color: #fff;
}
.search-open .station-header-search-form button:hover,
.search-open .station-header-search-form button:active {
  color: #fff;
  background-color: #00b3c9;
  border-radius: 0;
}

.search-open .station-header-search-form button:hover svg.yp-header__icon--search-interior,
.search-open .station-header-search-form button:active svg.yp-header__icon--search-interior {
  fill: #fff;
  background-color: #00b3c9;
}

/* styles that should ONLY work up to 767px */
/* e.g. the "dark menu" styles */
@media (max-width: 767px) {
  .menu-open.yp-header,
  .search-open.yp-header {
    background-color: #222;
  }
  .menu-open .yp-header__menu-button .yp-header__icon--close,
  .search-open .yp-header__search .yp-header__icon--close {
    display: block;
    fill: #009fb3;
  }
  .menu-open .yp-header__menu-button .yp-header__icon--menu {
    display: none;
  }
  .search-open .yp-header__search .yp-header__icon--search {
    display: none;
  }
  .menu-open .yp-header__nav {
    position: absolute;
    display: block;
    top: 50px;
    left: 0;
    width: 100%;
    height: 300px;
    padding: 10px 0 0 0;
    margin: 0 auto;
    color: #fff;
    background-color: #222;
    text-align: center;
  }
  .menu-open .yp-header__logo--black,
  .search-open .yp-header__logo--black {
    display: none;
  }
  .menu-open .yp-header__logo--white,
  .search-open .yp-header__logo--white {
    display: block;
    width: 93px;
    height: 34px;
  }
  .menu-open svg[class^="yp-header__icon--"],
  .search-open svg[class^="yp-header__icon--"] {
    fill: #fff;
    background-color: #222;
  }
  .search-open svg.yp-header__icon--search-interior {
    fill: #fff;
  }
  .menu-open svg[class^="yp-header__icon--"]:hover,
  .menu-open svg[class^="yp-header__icon--"]:active,
  .menu-open svg[class^="yp-header__icon--"]:focus,
  .search-open svg[class^="yp-header__icon--"]:hover,
  .search-open svg[class^="yp-header__icon--"]:active,
  .search-open svg[class^="yp-header__icon--"]:focus {
    fill: #00b2c8;
  }
  .menu-open .yp-header__nav__item {
    margin-bottom: 20px;
  }
  .menu-open .yp-header__nav__item a {
    color: #fff;
    text-decoration: none;
    font-family: "Barlow Condensed", sans-serif;
    font-size: 24px;
  }
  .menu-open .yp-header__nav__item a:hover, 
  .menu-open .yp-header__nav__item a:active,
  .menu-open .yp-header__nav__item a:focus {
    color:  #00b2c8;
  }
  .station-header-search .dropdown-menu {
    width: 100%;
    height: 300px;
    top: 50px;
    left: 0;
    margin: 0 auto;
    padding: 0;
    background-color: #222;
  }
  .search-open .station-header-search-form input {
    color: #fff;
    background-color: #222;
  }
  .search-open .station-header-search-form input::placeholder {
    color: #ccc;
  }
}

@media (min-width: 768px) {
  .yp-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 24px;
    border-bottom: 1px solid #ddd;
  }
  .yp-header__menu-button {
    display: none;
  }
  .yp-header__logo {
    flex-grow: 1;
  }
  .yp-header__logo--black {
    width: 120px;
    height: 44px;
  } 
  .yp-header__nav {
    display: flex;
    margin: 0 0 8px 0;
    padding: 0;
  }
  .yp-header__nav__item a {
    margin-left: 20px;
    font-size: 22px;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 500;
    color: #222222;
    text-decoration: none;
  }
  .selected.yp-header__nav__item a {
    padding-bottom: 23px;
    color: #007f8f;
    border-bottom: 5px solid #007f8f;
  }
  .selected.yp-header__nav__item a:hover {
    color: #009fb3;
    border-color: #009fb3;
  }
  .yp-header__nav__item a:hover {
    color: #009fb3;
  }
  .yp-header__search {
    margin: 0 0 6px 20px;
  } 
  .station-header-search {
    display: block;
  }
  .yp-header__search i {
    color: #707070;
    text-decoration: none;
    cursor: pointer;
    font-size: 18px;
  }
  .yp-header__search i:hover,
  .yp-header__search i:active,
  .open.yp-header__search i {
    color: #00b2c8;
  }
  .station-header-search .dropdown-menu {
    display: none;
    left: auto;
    top: 74px;
    right: 0;
    height: auto;
    margin: 0;
    padding: 12px;
    background-color: #fff;
    box-shadow: none;
    border: 1px solid #ddd;
    border-top: 0;
    border-right: 0;
    border-radius: 0;
  } 
  .station-header-search-form {
    margin-bottom: 0;
  }
  .station-header-search-form input {
    background-color: #fff;
  }
  .station-header-search-form button {
    color: #222;
  }
}

/* manage spacing between nav items */
@media (min-width: 900px) {
  .yp-header__nav__item a,
  .yp-header__search {
    margin-left: 30px;
  }
}
@media (min-width: 950px) {
  .yp-header__nav__item a,
  .yp-header__search {
    margin-left: 45px;
  }
}