<link rel="stylesheet" type="text/css" href="../../style/style.css">
<link rel="stylesheet" type="text/css" href="../../style/events-list.css">
<link href="https://fonts.googleapis.com/css?family=Barlow+Condensed:400,500|Open+Sans:300,400" rel="stylesheet">

<div class="yp-events-list">
  <h2 class="yp-events-list__title">Upcoming <span>Young Professional</span> Events</h2>
  <span class="yp-events-list__help">Need help justifying the time for professional development? Check out our guide to <a href="/">Pitching Your Attendance.</a></span>
  <a class="yp-events-list__view-full" href="/">View Full Calendar</a>
  <table class="yp-events-list__table">
    <tr>
      <th class="yp-events__date">Date</th>
      <th class="yp-events__image">Image</th> 
      <th class="yp-events__name">Name</th>
      <th class="yp-events__time">Time</th>
      <th class="yp-events__location">Location</th>
      <th class="yp-events__details">Details</th>
    </tr>
    <tr>
      <td class="yp-events__date">Jan 15</td>
      <td class="yp-events__image">
        <img src="/">
      </td> 
      <td class="yp-events__name">YoPro Session @ NETA</td>
      <td class="yp-events__time">11am - 1pm</td>
      <td class="yp-events__location">Washington, DC</td>
      <td class="yp-events__details">View Details</td>
    </tr>
    <tr>
      <td class="yp-events__date">Jan 15</td>
      <td class="yp-events__image">
        <img src="/">
      </td> 
      <td class="yp-events__name">YoPro Session @ NETA</td>
      <td class="yp-events__time">11am - 1pm</td>
      <td class="yp-events__location">Washington, DC</td>
      <td class="yp-events__details">View Details</td>
    </tr>
    <tr>
      <td class="yp-events__date">Jan 15</td>
      <td class="yp-events__image">
        <img src="/">
      </td> 
      <td class="yp-events__name">YoPro Session @ NETA</td>
      <td class="yp-events__time">11am - 1pm</td>
      <td class="yp-events__location">Washington, DC</td>
      <td class="yp-events__details">View Details</td>
    </tr>
    <tr>
      <td class="yp-events__date">Jan 15</td>
      <td class="yp-events__image">
        <img src="/">
      </td> 
      <td class="yp-events__name">YoPro Session @ NETA</td>
      <td class="yp-events__time">11am - 1pm</td>
      <td class="yp-events__location">Washington, DC</td>
      <td class="yp-events__details">View Details</td>
    </tr>
    <tr>
        <td class="yp-events__date">Jan 15</td>
        <td class="yp-events__image">
          <img src="/">
        </td> 
        <td class="yp-events__name">YoPro Session @ NETA</td>
        <td class="yp-events__time">11am - 1pm</td>
        <td class="yp-events__location">Washington, DC</td>
        <td class="yp-events__details">View Details</td>
      </tr>

  </table>
  <button>Load More</button>

</div>