<link rel="stylesheet" type="text/css" href="../../style/style.css">
<link rel="stylesheet" type="text/css" href="../../style/footer.css">
<link href="https://fonts.googleapis.com/css?family=Barlow+Condensed:400,500|Open+Sans:300,400" rel="stylesheet">

<div class="yp-footer">
  <div class="yp-footer__links">
    <div class="yp-footer__logo">
      <a href="http://www.pbs.org/yopro/"><img src="https://d1qbemlbhjecig.cloudfront.net/prod/filer_public/yopro-bento-live-pbs/fbb248b8c3_yopro-logo-white.png"></a>
    </div>

    <div class="yp-footer__site-map">

        <div class="yp-footer__section" id="footer--contact">
          <h4 class="yp-footer__headline">Contact</h4>
          <a class="yp-footer__link" href="/">Email the YoPro Team</a>
        </div>

        <div class="yp-footer__section" id="footer--get-involved">
          <h4 class="yp-footer__headline">Get Involved</h4>
          <a class="yp-footer__link" href="/">Join the YoPro Directory</a>
          <a class="yp-footer__link" href="/">Share Your Story</a>
          <a class="yp-footer__link" href="/">Get the Newsletter</a>
          <a class="yp-footer__link" href="/">Join Our Facebook Group</a>
        </div>
 
        <div class="yp-footer__section" id="footer--resources">
          <h4 class="yp-footer__headline">Resources</h4> 
          <a class="yp-footer__link" href="/">Career Guides</a>
          <a class="yp-footer__link" href="/">The YoPro Community</a>
          <a class="yp-footer__link" href="/">Groups to Join</a>
          <a class="yp-footer__link" href="/">Job Opportunities</a>
        </div>

        <div class="yp-footer__section" id="footer--events">
          <h4 class="yp-footer__headline">Events</h4>
          <a class="yp-footer__link" href="/">Upcoming Events</a>
          <a class="yp-footer__link" href="/">Pitch Your Attendance</a>
        </div>

        <div class="yp-footer__section" id="footer--about">
            <h4 class="yp-footer__headline">About</h4>
            <a class="yp-footer__link" href="/">About YoPro</a>
            <a class="yp-footer__link" href="/">For Managers</a>
            <a class="yp-footer__link" href="/">FAQ</a>
          </div>

    </div>
  </div>

  <div class="yp-footer__copyright">
      &#9400; Copyright 2019 YoPro. All rights reserved.
  </div>
</div>
