<link rel="stylesheet" type="text/css" href="../../../style/style.css">
<link rel="stylesheet" type="text/css" href="../../../style/newsletter.css">
<link href="https://fonts.googleapis.com/css?family=Barlow+Condensed:400,500|Open+Sans:300,400" rel="stylesheet">


<div class="yp-newsletter-module">
  <div class="yp-newsletter-module__image-container"></div>
  <div class="yp-newsletter-module__content">
    <div class="yp-newsletter-module__info">
      <h3 class="yp-newsletter-module__title">Upcoming events and job opportunities — in your inbox each month.</h3>
      <p class="yp-newsletter-module__text">Curated professional development content all in one place. Give the YoPro newsletter a try.</p>
    </div>
    <div class="yp-newsletter-module__sign-up">
      <input class="yp-newsletter-module__input" type="text" placeholder="Email address" />
      <a class="yp-newsletter-module__submit" href="/">Subscribe</a>
    </div>
  </div>
</div>